.select {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 20px;
	font-size: 16px;
	width: 400px;
	height: 56px;
	cursor: pointer;
	border: 2px solid #c7c9cd;
	border-radius: 30px;
	outline: none;
	color: #1f2121;
}
.select:hover {
	border: 2px solid #029383;
}
.arrow {
	width: 15px;
	height: 15px;
}
.options {
	width: 400px;
	position: absolute;
	overflow: hidden;
	display: block;
	top: 56px;
	left: 0px;
	right: 0px;
	border-top: 0px;
	transition: all 0.5s;
	overflow: auto;
	background-color: #ffffff;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
	border-radius: 3px;
	padding: 14px 0px;
}
.options.show {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
	z-index: 2;
}
.options.hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	z-index: 2;
}
.option {
	display: block;
	padding: 16px 20px;
	text-align: left;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.5s;
	color: #1f2121;
	font-weight: 600;
}
.option:hover {
	background-color: #f0f4f3;
}
.option.selected {
	background-color: #eaedec;
	color: #029383;
}
